.mediaViewInfo {
    --web-view-name: Web 1920 – 17;
    --web-view-id: Web_1920___17;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-scale-on-double-click: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920___17;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920___17 {
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-50%);
    top: 50%;
    background: #E5E5E5;
    width: 1920px;
    height: 8220px;
    background-color: rgba(36,36,36,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 17;
    --web-view-id: Web_1920___17;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-scale-on-double-click: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
#Group_75 {
    position: absolute;
    width: 2700.693px;
    height: 2839.001px;
    left: -705px;
    top: -216.001px;
    overflow: visible;
}
.bolt {
    position: absolute;
    overflow: visible;
    width: 1411px;
    height: 2215px;
    left: 0px;
    top: 624.001px;
}
.Union_1 {
    overflow: visible;
    position: absolute;
    width: 2509.139px;
    height: 1036.838px;
    left: 191.555px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_67 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 1220px;
    top: 3907.001px;
    overflow: visible;
}
#Group_26 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_76 {
    position: absolute;
    width: 1084px;
    height: 263px;
    left: 185px;
    top: 256px;
    overflow: visible;
}
#Menu {
    position: absolute;
    width: 1084px;
    height: 247px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#StormHacks_ {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.161));
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 1085px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 187px;
    color: rgba(255,255,255,1);
}
#SFU_SURGE_PRESENTS_ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 269px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,175,0,1);
}
#_____Catch_Phrase_____ {
    position: absolute;
    left: 371px;
    top: 231px;
    overflow: visible;
    width: 344px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Menu_A0_Group_6 {
    position: absolute;
    width: 337px;
    height: 26px;
    left: 1269px;
    top: 57px;
    overflow: visible;
}
#ABOUT {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 76px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,175,0,1);
}
#SPONSORS {
    position: absolute;
    left: 123px;
    top: 0px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,175,0,1);
}
#FAQ {
    position: absolute;
    left: 293px;
    top: 0px;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,175,0,1);
}
.Screen_Shot_2019_10_25_at_5_31 {
    overflow: visible;
    position: absolute;
    width: 325px;
    height: 339px;
    left: 1579px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_46 {
    position: absolute;
    width: 3516.321px;
    height: 2015.892px;
    left: -265px;
    top: 1615.068px;
    overflow: visible;
}
#Group_27 {
    position: absolute;
    width: 1556.9px;
    height: 861.993px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_25 {
    position: absolute;
    width: 1556.9px;
    height: 861.993px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_55 {
    opacity: 0.073;
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 2233px;
    top: 1333.932px;
    overflow: visible;
}
#Group_25_A0_Group_11 {
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.ID72969746_406667830014082_313 {
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 71px;
    left: 48px;
    top: 35px;
}
#Group_82 {
    position: absolute;
    width: 741px;
    height: 144px;
    left: 1123px;
    top: 808px;
    overflow: visible;
}
#Group_80 {
    position: absolute;
    width: 355px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 355px;
    height: 72px;
    left: 0px;
    top: 0px;
}
#APPLY_NOW {
    position: absolute;
    left: 112.965px;
    top: 23px;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_81 {
    position: absolute;
    width: 355px;
    height: 72px;
    left: 386px;
    top: 0px;
    overflow: visible;
}
.Rectangle_17_A0_Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 355px;
    height: 72px;
    left: 0px;
    top: 0px;
}
#SIGN_IN {
    position: absolute;
    left: 134px;
    top: 23px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#FEBUARY_1ST___2ND_2020___SFU {
    position: absolute;
    left: 159px;
    top: 112px;
    overflow: visible;
    width: 425px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Group_86 {
    position: absolute;
    width: 930px;
    height: 501px;
    left: 41px;
    top: 1921px;
    overflow: visible;
}
#WHAT_IS_SFU_SURGE_ {
    position: absolute;
    left: 58px;
    top: 0px;
    overflow: visible;
    width: 809px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
.lightening1 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 313.5px;
    top: 45px;
}
#Lorem_ipsum_dolor_sit_amet__co {
    position: absolute;
    left: 0px;
    top: 169px;
    overflow: hidden;
    width: 931px;
    height: 332px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Group_90 {
    position: absolute;
    width: 1920px;
    height: 4988px;
    left: 0px;
    top: 3232px;
    overflow: visible;
}
#Group_50 {
    position: absolute;
    width: 1650px;
    height: 341px;
    left: 166px;
    top: 4016px;
    overflow: visible;
}
#Group_53 {
    position: absolute;
    width: 1650px;
    height: 341px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_51 {
    position: absolute;
    width: 850px;
    height: 341px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#WHAT_IS_STORMHACKS_ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 359px;
    height: 32px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#WHEN_WILL_DECISIONS_BE_RELEASE {
    position: absolute;
    left: 0px;
    top: 73px;
    overflow: hidden;
    width: 553px;
    height: 33px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#HOW_DO_I_GET_TO_STORMHACKS_ {
    position: absolute;
    left: 0px;
    top: 148px;
    overflow: hidden;
    width: 520px;
    height: 33px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#HOW_MANY_PEOPLE_CAN_BE_ON_A_TE {
    position: absolute;
    left: 0px;
    top: 223px;
    overflow: hidden;
    width: 606px;
    height: 38px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#WHAT_KIND_OF_HARDWARE_WILL_BE_ {
    position: absolute;
    left: 0px;
    top: 303px;
    overflow: hidden;
    width: 851px;
    height: 38px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Group_52 {
    position: absolute;
    width: 850px;
    height: 341px;
    left: 800px;
    top: 0px;
    overflow: visible;
}
#WHO_CAN_PARTICIPATE_ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 359px;
    height: 32px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#HOW_MUCH_DOES_IT_COST_TO_ATTEN {
    position: absolute;
    left: 0px;
    top: 73px;
    overflow: hidden;
    width: 572px;
    height: 33px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#WHAT_IF_I_VE_NEVER_BEEN_TO_A_H {
    position: absolute;
    left: 0px;
    top: 148px;
    overflow: hidden;
    width: 798px;
    height: 33px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#WHAT_KIND_OF_ACTIVITIES_WILL_B {
    position: absolute;
    left: 0px;
    top: 223px;
    overflow: hidden;
    width: 642px;
    height: 50px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#ID404__QUESTIONS_NOT_FOUND {
    position: absolute;
    left: 0px;
    top: 303px;
    overflow: hidden;
    width: 851px;
    height: 38px;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Group_54 {
    position: absolute;
    width: 1242px;
    height: 315px;
    left: 356px;
    top: 13px;
    overflow: visible;
}
.Polygon_1 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,391.5,2797) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_2 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,525.5,2947) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_3 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,639.5,3022) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_4 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,581.5,2871) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_5 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,728.5,3103) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_6 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,1191.5,2798) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_7 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,1400.5,2872) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_9 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,1450.5,3021) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_8 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,1617.5,2947) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Polygon_10 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 9px;
    transform: translate(-391.5px, -2797px) matrix(1,0,0,1,1269.5,3102) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 328px;
    left: 0px;
    top: 4660px;
}
.Rectangle_32 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1197px;
    left: 0px;
    top: 0px;
}
.Rectangle_36 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1197px;
    left: 0px;
    top: 1197px;
}
.Rectangle_37 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1197px;
    left: 0px;
    top: 2394px;
}
#Group_92 {
    position: absolute;
    width: 1839px;
    height: 835px;
    left: 41px;
    top: 282px;
    overflow: visible;
}
#Group_87 {
    position: absolute;
    width: 1839px;
    height: 501px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_33 {
    position: absolute;
    overflow: visible;
    width: 563px;
    height: 501px;
    left: 0px;
    top: 0px;
}
.Rectangle_34 {
    position: absolute;
    overflow: visible;
    width: 563px;
    height: 501px;
    left: 638px;
    top: 0px;
}
.Rectangle_35 {
    position: absolute;
    overflow: visible;
    width: 563px;
    height: 501px;
    left: 1276px;
    top: 0px;
}
#Group_91 {
    position: absolute;
    width: 1575px;
    height: 91px;
    left: 132px;
    top: 543px;
    overflow: visible;
}
#DESIGN {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 291px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
#DEVELOP {
    position: absolute;
    left: 614px;
    top: 0px;
    overflow: visible;
    width: 340px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
#PRESENT {
    position: absolute;
    left: 1252px;
    top: 0px;
    overflow: visible;
    width: 324px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
.gallery_icon {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 134px;
    left: 852px;
    top: 184px;
}
.gallery_icon_A0_Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 134px;
    left: 214px;
    top: 184px;
}
.gallery_icon_A0_Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 134px;
    left: 1490px;
    top: 184px;
}
#Lorem_ipsum_dolor_sit_amet__co_A0_Text_25 {
    position: absolute;
    left: 19px;
    top: 655px;
    overflow: hidden;
    width: 526px;
    height: 180px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Lorem_ipsum_dolor_sit_amet__co_A0_Text_26 {
    position: absolute;
    left: 657px;
    top: 655px;
    overflow: hidden;
    width: 526px;
    height: 180px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Lorem_ipsum_dolor_sit_amet__co_A0_Text_27 {
    position: absolute;
    left: 1295px;
    top: 655px;
    overflow: hidden;
    width: 526px;
    height: 180px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#SCHEDULE {
    position: absolute;
    left: 769px;
    top: 1322px;
    overflow: visible;
    width: 383px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
#AT_STORMHACKS_YOU_WILL {
    position: absolute;
    left: 439px;
    top: 77px;
    overflow: visible;
    width: 1043px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(86,140,219,1);
}
#SPONSORS_A0_Text_30 {
    position: absolute;
    left: 747px;
    top: 2501px;
    overflow: visible;
    width: 427px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
#QUESTIONS_ {
    position: absolute;
    left: 717px;
    top: 3683px;
    overflow: visible;
    width: 487px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
.lightening1_A0_Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 809.5px;
    top: 2547px;
}
.lightening1_A0_Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 809.5px;
    top: 1368px;
}
.lightening1_A0_Rectangle_26 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 276.5px;
    top: 1561px;
}
.lightening1_A0_Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 1354.5px;
    top: 1561px;
}
.lightening1_A0_Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 809.5px;
    top: 3739px;
}
#Group_46_A0_Group_25 {
    position: absolute;
    width: 2381.321px;
    height: 1574.96px;
    left: 871px;
    top: 2269px;
    overflow: visible;
}
#Group_26_A0_Group_26 {
    position: absolute;
    width: 1283.32px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_25_A0_Group_27 {
    position: absolute;
    width: 1283.32px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_55_A0_Group_28 {
    opacity: 0.073;
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 1098px;
    top: 893px;
    overflow: visible;
}
#Group_25_A0_Group_29 {
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_38 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 766px;
    left: 0px;
    top: 2466px;
}
#Group_97 {
    position: absolute;
    width: 1814px;
    height: 575px;
    left: 53px;
    top: 2569px;
    overflow: visible;
}
#Group_95 {
    position: absolute;
    width: 870px;
    height: 575px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_39 {
    position: absolute;
    overflow: visible;
    width: 870px;
    height: 575px;
    left: 0px;
    top: 0px;
}
.gallery_icon_A0_Rectangle_34 {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 134px;
    left: 372px;
    top: 222px;
}
#Group_96 {
    position: absolute;
    width: 870px;
    height: 575px;
    left: 944px;
    top: 0px;
    overflow: visible;
}
.Rectangle_39_A0_Rectangle_36 {
    position: absolute;
    overflow: visible;
    width: 870px;
    height: 575px;
    left: 0px;
    top: 0px;
}
.gallery_icon_A0_Rectangle_37 {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 134px;
    left: 372px;
    top: 222px;
}
#Group_89 {
    position: absolute;
    width: 585px;
    height: 354.852px;
    left: 1323px;
    top: 1771.217px;
    overflow: visible;
}
#Group_88 {
    position: absolute;
    width: 498.707px;
    height: 354.852px;
    left: 43.5px;
    top: 0px;
    overflow: visible;
}
#Group_38 {
    opacity: 1;
    position: absolute;
    width: 498.707px;
    height: 354.852px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.ID73409231_1043517025990749_96 {
    position: absolute;
    overflow: visible;
    width: 585px;
    height: 182px;
    left: 0px;
    top: 125.783px;
}
#Group_101 {
    position: absolute;
    width: 1322.812px;
    height: 871.094px;
    left: 750.51px;
    top: 1030px;
    overflow: visible;
}
#Group_99 {
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 39.49px;
    top: 0px;
    overflow: visible;
}
#Group_84 {
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_25_A0_Group_39 {
    position: absolute;
    width: 1283.321px;
    height: 681.96px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_100 {
    position: absolute;
    width: 1308.697px;
    height: 863.642px;
    left: 0px;
    top: 7.451px;
    overflow: visible;
}
#Group_88_A0_Group_41 {
    position: absolute;
    width: 1308.697px;
    height: 863.642px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_38_A0_Group_42 {
    opacity: 1;
    position: absolute;
    width: 1308.697px;
    height: 863.642px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_102 {
    position: absolute;
    width: 930px;
    height: 501px;
    left: 934px;
    top: 1250px;
    overflow: visible;
}
#STORMHACKS {
    position: absolute;
    left: 199px;
    top: 0px;
    overflow: visible;
    width: 532px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255,255,255,1);
}
.lightening1_A0_Rectangle_41 {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 124px;
    left: 313.5px;
    top: 45px;
}
#Lorem_ipsum_dolor_sit_amet__co_A0_Text_33 {
    position: absolute;
    left: 0px;
    top: 169px;
    overflow: hidden;
    width: 931px;
    height: 332px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#SATURDAY__FEBRUARY_1ST {
    position: absolute;
    left: 193px;
    top: 4779px;
    overflow: visible;
    width: 491px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(28,48,122,1);
}
#SUNDAY__FEBRUARY_2SND {
    position: absolute;
    left: 1247px;
    top: 4779px;
    overflow: visible;
    width: 493px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(28,48,122,1);
}
#PUT_CONTACT_INFO___ {
    position: absolute;
    left: 814px;
    top: 8032px;
    overflow: visible;
    width: 308px;
    white-space: nowrap;
    text-align: left;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
}