<footer class="footer">
  <div class="header-container">
    <ul id = "horizontal-list-2">
      <!-- commend out for now. might add in future -->
      <!-- <li><a href="/contact" class="contact">Contact Us</a></li>
      <li><a href="/sponsors" class="sponsor">Sponsors</a></li> -->
    </ul>
    <ul id="horizontal-icons">
      <p><a href="https://www.facebook.com/sfusurge" target="_blank">
      <img border="0" src="{{site.baseurl}}/assets/icons/facebook.png" width="30" height="30"></a>
      </p>
      <p><a href="https://www.instagram.com/sfusurge" target="_blank">
      <img border="0" src="{{site.baseurl}}/assets/icons/instagram.png" width="30" height="30"></a>
      </p>
      <p><a href="https://twitter.com/sfusurge" target="_blank">
      <img border="0" src="{{site.baseurl}}/assets/icons/twitter.png" width="30" height="30"></a>
      </p>
    </ul>
    <p id="footer-copyright">© SFU SURGE 2019-2020</p>     
  </div>
</footer>
