<header>
  <div class="table">
    <p class="title"><a href="/">SFU SURGE</a></p>
    <ul id="horizontal-list">
      <!-- <li><a href="/">HOME</a></li> -->
      <a href="sfusurge.github.io/about">ABOUT</a>
      <a href="sfusurge.github.io/projecthub">ProjectHub</a>
      <!-- <a href="/volunteer">Volunteer</a> -->
      <a href="sfusurge.github.io/contact">Contact</a>
      <!-- commend out for now. might add in future -->
      <!-- <a href="/#events">EVENTS</a>  --> 
      <!-- <a href="/projects">PROJECTS</a> -->
      <!-- <a href="/hackathon">HACKATHON</a> -->
    </ul>
  </div>
</header>
