<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149607434-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149607434-1');
  </script>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
  </style>
  <link rel="icon" href="{{site.baseurl}}/assets/images/icon.png">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.stylesheet_override %}
  	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{page.stylesheet_override}}">
  {% else %}
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/standard.css">
  {% endif %}
</head>
