body {
   font-family: 'Barlow', sans-serif;
   font-size: 20px;
   margin: 0;
}

.button {
	background-color: #578cdc;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 4px 6px;
	cursor: pointer;
}

a.button:hover {
	background-color: #1d317a;
}

a{
	color: black;
	text-decoration: none;
}



header {
	padding: 12px;
	text-align: right;
	position: relative;
}

.title {
	position: absolute;
	color: #1d317a;
	font-weight: bold;
	left: 16px;
	top: 12px;
}

.title a:hover{
	color: #578cdc;
}

ul#horizontal-list {
	list-style: none;
	word-spacing: 30px;
	left: 100px;
	}
	ul#horizontal-list li {
		display: inline;
	}
	ul#horizontal-list a {
		display: inline;
	}
	ul#horizontal-list p {
		display: inline;
	}
	ul#horizontal-list a:hover {
		color: #578cdc;
	}
	
	
	
banner {
	position: relative;
	text-align: center;
}
	
	
	
.container {
	position: relative;
}

.about-header {
	font-size: 6vw;
	color: #578cdc;
	position: absolute;
	top: 8px;
	text-indent: 90px;
	font-weight: bold;
}

.about-body {
	font-size: 1.5vw;
	position: absolute;
	color: white;
	top: 25%;
	left: 15%;
	right: 15%;
	text-align: center;
	line-height: 200%;
}

.about-buttons{
	text-align: center;
}


	
h2 {
	font-size: 6vw;
	color :  #578cdc;
}



#events {
	color : blue;
	text-align: center;
}
	#events p {
		text-align: left;
	}
	#events h2 {
		text-align: left;
		text-indent: 90px;
	}

.event-template{
	position: relative;
}

.event-img {
	padding: 60px;
	max-width: 75%;
	height: auto;
	position: relative;
}

.event-title {
	color: #578cdc;
}

.event-name{
	font-weight: bold;
	text-indent: 90px;
	font-size: 25px;
}

.event-desc {
	margin: 70px;
}



.gap-space {
	background-color: white;
	height: 75px;
	width: auto;
	right: 50%;
}



.involve-buttons {
	text-align: center;
}

.involve-title {
	text-indent: 70px;
	color: #578cdc;
}

.footer-space {
	background-color: white;
	height: 75px;
	width: auto;
}



footer {
	text-align: center;
	background-color: #1d317a;
	height: 100px;
	padding: 12px;
	position: relative;
}

ul#horizontal-list-2 {
	list-style: none;
	font-size: 25px;
	}
	ul#horizontal-list-2 li {
		display: inline;
	}
	ul#horizontal-list-2 a {
		color: white;
	}
	ul#horizontal-list-2 a:hover {
		color: #578cdc;
	}
	
.contact {
	position: absolute;
	top: 8px;
	left: 16px;
}

.sponsor {
	position: absolute;
	top: 8px;
	right: 16px;
}

ul#horizontal-icons {
	list-style: none;
	position: absolute;
	top: 25px;
	left: 0%;
}
	ul#horizontal-icons p {
		display: inline;
	}